.project-block {
  border: 1px solid #265d89;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 5px rgba(2, 44, 67, 0.5);

  .project-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: dashed 1px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
  }

  .project-text {
    padding: 10px;
  }

  p {
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(2, 44, 67, 0.5);
  }
}
