.project-block {
  border: 1px dashed red;
  // padding-top: 10px;
  margin: 10px 10px;

  .project-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: dashed 1px green;
  }

  .project-text {
    padding: 10px;
  }

  p {
    font-style: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
  }
}
