.jobBlock {
  // border: solid 1px blue;
  margin: 0px 110px;
  padding: 10px;

  h2 {
    font-size: 20px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-bottom: -10px;
  }

  h3 {
    color: #8d8d8d;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 11px;
  }

  p {
    font-style: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
    line-height: 5px;
  }
}
