.project-container {
  font-family: 'Coolvetica';
  color: #ffd700;
  position: absolute;
  left: 10px;
  width: 85%;
  margin-left: 100px;
  // border: 1px dashed blue;
  margin-top: 50px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 45%; /* Each column takes up half of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
  // padding: 8px; /* Adjust padding as needed */
}
