.portfolio-header {
  position: absolute;
  left: 120px;
  top: 40px;
  // font-size: 53px;
  font-family: 'Coolvetica';
  color: #ffd700;
  // font-weight: 400;
  margin-bottom: 40px;

  &::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    font-size: 18px;
    position: absolute;
    margin-top: -10px;
    left: -10px;
    opacity: 0.6;
    line-height: 18px;
  }
  &::after {
    content: '<h1/>';
    font-family: 'La Belle Aurore';
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    margin-left: 20px;
    left: -30px;
    bottom: -20px;
    opacity: 0.6;
  }
}

.project-container {
  font-family: 'Coolvetica';
  color: #ffd700;
  position: relative;
  left: 10px;
  width: 90%;
  margin: 40px 0 40px 70px;
  border: 1px dashed blue;
  // padding: 400px;

  &::before {
    content: '<ul>';
    font-family: 'La Belle Aurore';
    font-size: 18px;
    position: absolute;
    margin-top: -10px;
    left: -10px;
    opacity: 0.6;
    line-height: 18px;
  }
  &::after {
    content: '<ul/>';
    font-family: 'La Belle Aurore';
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    margin-left: 20px;
    left: -30px;
    bottom: -20px;
    opacity: 0.6;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 50%; /* Each column takes up half of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
  // padding: 8px; /* Adjust padding as needed */
}
