.project-container {
  font-family: 'Coolvetica';
  color: #ffd700;
  position: absolute;
  left: 10px;
  width: 85%;
  margin-left: 100px;
  // border: 1px dashed blue;
  margin-top: 50px;
}

.text-animate-hover {
  &:hover {
    color: #fff;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 45%; /* Each column takes up half of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
  // padding: 8px; /* Adjust padding as needed */
}

.project-block {
  animation: pulse 1s;

  // ????
  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }
  &:nth-of-type(4) {
    animation-delay: 1.4s;
  }
  &:nth-of-type(5) {
    animation-delay: 1.5s;
  }
}
